/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('https://i.pinimg.com/originals/61/1f/33/611f33974576fb607c6a96c9220721e0.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}


.container{
height: 100%;
align-content: center;
}

.card{
height: 260px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(167, 167, 167, 0.342) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #F14668;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: rgb(255, 255, 255);
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #F14668;
color: rgb(255, 255, 255);
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: rgb(255, 255, 255);
background-color: #F14668;
width: 100px;
}

.login_btn:hover{
color:#F14668;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

#img1 {
    float: right;
    margin-right: 15px;
}