body {
  background-image: url('img/ไผ่2.png');
  background-size: cover;
  background-repeat: no-repeat;
  scroll-behavior: smooth;

}

.form-check-label {
  margin-bottom: 0 !important;
}

.product_quantity1 input {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 0 0px 0 0px;
  background: none;
  border: 1px solid #ededed;
}

@keyframes slidedown {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  65%,
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.confirmation-slider {
  padding: 10px;
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: #ebebeb;
  text-align: center;
}
#status {
  background: #fff;
  border-radius: 0px;
  height: 52px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.delete-notice {
  display: none;
  user-select: none;
  /* font-size: 20px; */
  line-height: 50px;
  /* color: #ED4545; */
  animation: fadein 4s ease;
}

#confirm {
  appearance: none !important;
  background: #f4f4f4;
  height: 50px;
  padding: 0 5px;
  width: 100%;
}

#confirm::-webkit-slider-thumb {

  appearance: none !important;
  height: 40px;
  width: 60px;
  border: 1px solid #D01F44;
  border-radius: 0px;
  cursor: e-resize;
 
}
input[type='range']::-webkit-slider-thumb {
  background-color: #D01F44;
}
.delete-notice input::placeholder{
    font-size: 14px;
}
#confirm:hover::-webkit-slider-thumb {
  border-color: #D01F44;

}
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}
#listmunu li {
  width: 50%;
  padding: 10px;
  display: inline-block;
}

.orderag .owl-nav div.owl-prev {
  top: 35% !important;
}

.orderag .owl-nav div.owl-next {
  top: 35% !important;
}

#myform {
  text-align: center;
  padding: 5px;
  /* border: 1px dotted #ccc; */
  margin: 2%;
}

#myform2 {
  float: right;
  text-align: center;
  padding: 0px;
  /* border: 1px dotted #ccc; */
  /* margin: 2%; */
}

.qty {
  width: 40px;
  height: 25px;
  text-align: center;
}

input.qtyplus {
  width: 15px;
  height: 15px;
}

input.qtyminus {
  width: 15px;
  height: 15px;
}

/* .iconview-menu:hover img{
  box-shadow: 0 0 11px rgba(33,33,33,.2);
} */
.action_links .quick_button {
  width: 100%;
  padding: 10px;
}

input[type=checkbox],
input[type=radio] {
  width: 15px;
  height: 15px;
}

.table_desc .cart_page table td.tkpoint {
  width: 100px;
}

.table_desc .cart_page table td.tkpoint1 {
  text-align: left;
}

.table_desc .cart_page table td.tkpoint1 input[type=radio] {
  font-size: 20px;
  color: #000;
}

.table_desc .cart_page table td.tkpoint1 .btn-link {
  font-size: 16px;
  color: #000;
}

.logo {
  padding-top: 0px;
}
.prorecom .owl-dots{
  top: 80% !important;
}

.banner-mini .owl-dots {
  top: 65%;
}

.banner-mini .owl-nav .owl-next {
  font-size: 28px;
  margin-top: -20px;
}

.banner-mini .owl-nav .owl-prev {
  font-size: 28px;
  margin-top: -20px;
}

.single_blog2 {
  border: 1px solid #f4f4f4;
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.blog_thumb {
  text-align: center;
}

header {
  padding-top: 0px !important;
}

.bgsub {
  background: rgba(0, 0, 0, .7);
  width: 100%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.account_form .fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.profile-pic {
  max-width: 200px;
  max-height: 200px;
  display: block;
}

.file-upload {
  display: none !important;
}

.circle {
  border-radius: 1000px !important;
  overflow: hidden;
  width: 128px;
  height: 128px;
  border: 8px solid #f4f4f4;
  position: absolute;
  top: 72px;
}

img {
  max-width: 100%;
  height: auto;
}

.btn-take {
  font-size: 15px;
  font-weight: 400;
  padding: 0 25px;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
  height: 44px;
  line-height: 44px;
  background: inherit;
  color: #fff;
  background: #D01F44 !important;
}

.catagory_take {
  text-align: center;
}
li.optionfood{
  padding-top: 5px;
  padding-bottom: 5px;
}
.p-image {
  left: 70;
  margin-top: 80px;
  z-index: 999;
  position: relative;
  color: #666666;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}

/* #modal_box .modal-content {
  max-width: 30%;
}
#modal_box2 .modal-content {
  max-width: 30%;
} */
#modal_box .modal-content .widget_list .view-menu {
  margin-bottom: 10px;
}
.blog_section3{
  background-color: transparent;
  margin-bottom: 10px;
}
.owl-nav .disabled .owl-prev {}

.blog_section2 .owl-nav div.owl-prev {
  color: black;
}

.blog_section2 .owl-nav div.owl-next {
  color: black;
}
@media only screen and (min-width: 1200px){
  .mt-lg-6{
    margin-top: 6rem !important
  }
  .main-menu2{
    margin-left: -40px;
  }
}
@media only screen and (min-width:992px) {
  .height-free {
    height: 100%;
  }

  .coupon,
  .bn4 {
    margin-top: 50px;
  }
}

@media only screen and (max-width:767px) {
  #vendor_icon{
    float: right;
    margin-right: 5px;
  }
  .language_currency2{
    display: block !important;
    margin-bottom: 0px !important;
  }
  .blog_section2 .owl-nav div.owl-next {
    color: black !important;
  }

  .blog_section2 .owl-nav div.owl-prev {
    color: black !important;
  }

  .blog_section2 {
    padding: 0px 0 20px;
    margin-bottom: 5px;
  }

  .mt-xs-2 {
    margin-top: 2rem;
  }

  .mt-xs-5 {
    margin-top: 5rem;
  }

  .eventhome .owl-nav div.owl-prev {
    left: 0px !important;
  }

  .eventhome .owl-nav div.owl-next {
    right: 0px !important;
  }

  .slider_section .slider_area .owl-dots {
    top: 80% !important;
  }

  .hidden-xs {
    display: none !important
  }

  .header_account_list {
    float: right;
  }

  #modal_box .modal-content {
    max-width: 100%;
  }

  #modal_box2 .modal-content {
    max-width: 100%;
  }

  #modal_box {
    left: 0 !important;
  }

  #modal_box2 {
    left: 0 !important;
  }

  .cart_page .product_quantity label {
    display: none;
  }

  .cart_page .product_total {
    display: none;
  }


  .cart_page thead {
    display: none;
  }

  .cart_page .product_thumb {
    display: none;
  }

  .cartdown {
    text-align: center;
    overflow: hidden;
    background-color: #D01F44;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 14px 16px;
    z-index: 9;
  }

  .slider_area .owl-dots {
    top: 75%;
  }

  .single_slider4 .btn-shopnow {
    /* float: right; */
    margin-top: 90% !important;
    text-align: center;
    border-radius: 0;
    background-color: #000000;
    padding-right: 20px;
  }

  .coupon {
    background-color: #D01F44;
    height: 650px !important;
  }

  .shopnow {
    background-color: #D01F44;
    height: 1150px !important;
  }

  .ratelist {
    float: left !important;
  }

  .Follow {
    text-align: center;
  }

  .header_account_list:last-child.homecart {
    margin-top: 0px;
    right: 0px;
    margin-right: 0px !important;
    margin-left: 50px;
    z-index: 9;
  }

  .widget_menu2 {
    text-align: right !important;
  }

  #myform2 {
    float: left;
    text-align: center;
    padding: 0px;
    padding-top: 5px;
    /* border: 1px dotted #ccc; */
    margin: 2%;
  }
}

.eventmb_content h3 {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}

/* .section_title2 {
  margin-left: 50px;
} */

.event-take {
  border-radius: 20px;
}

#money {
  display: none;
}

#money1 {
  display: none;
}

.owl-nav .fa {
  padding: 5px;

}

.header_account_list:last-child.homecart {
  margin-top: 5px;
  right: 0px;

  z-index: 9;
}

.homecart.header_account_list>a {
  margin-right: 0px;
}

.categories_title .home {
  padding-left: 0px !important;
}

.single_slider3 {
  height: 220px;

}

.fullwidth2 {
  margin-bottom: 0px;
}

.box {
  display: none;
}

.current_price {
  color: #D01F44;
  font-size: 18px;
}

.price_box span {
  color: #D01F44;
}

.footimg .owl-nav div.owl-prev {
  top: 50%;
  margin-left: 0px !important;
}

.footimg .owl-nav div.owl-next {
  top: 50%;
  margin-right: 0px !important;
}

.viewall {

  color: black;
  text-transform: uppercase;
  text-decoration: none;

  display: inline-block;
  padding: 10px 10px;
  position: relative;


}

.viewall:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #D01F44;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.viewall:hover:after {
  width: 100%;
  left: 0;
}

i.icon_star {
  color: #999;
  font-size: 12px;
  vertical-align: bottom;

}

/* .payment_select2 .btn {
  padding: 15px 15px 10px 15px;
  margin-bottom: 20px;
  border-radius: 3px;

  color: #000;
 
}
.payment_select2 .btn[aria-expanded="true"] {

  
  background-color: #f0f0f0;
 
}
.payment_select2 .btn[aria-expanded="false"] {

  background-color: transparent !important;
  border: 1px solid #f0f0f0;

} */
#optionsmenu {
  padding-left: 16px;
  padding-right: 16px;
	padding:20px;
}

.placelist {
  text-align: right;
}

.ratelist {
  float: right;
}

.add_to_basket {
  font-size: 15px;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: #fff;
  width: 100%;
  background: #D01F44;
  cursor: pointer;
  padding: 12px 20px;
  outline: none;
  font-size: 12px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

.head_tf p {
  font-size: 25px;
  font-weight: 700px;
  text-align: center;
  padding: 20px;
}

@media (min-width:768px) and (max-width:991px) {
  .hidden-sm {
    display: none !important
  }

}

@media (min-width:992px) and (max-width:1199px) {
  .hidden-md {
    display: none !important
  }
}

@media (min-width:1200px) {
  .sidebar_widget .widget_list {
    margin-top: 15px;
  }
  .box_style_1{
    margin-top: 64px;
  }
  #vendor_icon{
    margin-left: 50%;
  }
  .hidden-lg {
    display: none !important
  }

  #listmunu li {
    width: 25%;

  }
}

@media only screen and (max-width: 767px) {
  .table_desc .cart_page table tbody tr .product_name {
    max-width: 90px !important;
  }

  .table_desc .cart_page table tbody tr td.product_quantity {
    padding: 0px !important;
  }
}

@media only screen and (max-width:767px) {
  .bs-wizard>.bs-wizard-step>.progress {
    position: relative;
    border-radius: 0px;
    height: 8px;
    box-shadow: none;
    margin: 23px 0;
    top: -8px;
  }

}

.single_slider3 {
  height: 250px;

}

.fullwidth2 {
  margin-bottom: 0px;
}


.single_slider4 {
  height: 360px;
  background-position: center;

}
.product_thumb2 a img{
  width: 100% !important; 
  max-height: 100%;
}
.single_slider4 .btn-shopnow {
  float: right;
  margin-top: 70%;
  border-radius: 0;
  background-color: #000000;
  padding-left: 20px;

}

.single_slider4 .btn-shopnow:hover {
  background-color: #fff;
  color: #000000;

}

.shopnow {
  background-color: #D01F44;
  height: 500px
}

.coupon {
  background-color: #D01F44;
  height: 250px
}

.single_slider5 {
  height: 200px;
  background-position: center;

}

.butsmallleft {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 0 0px 0 0px;
  background: none;
  border: 1px solid #ededed;
  margin-top: -3px;
  margin-right: 0px;
  border-radius: 0px;

}

.butsmallright {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 0 0px 0 0px;
  background: none;
  border: 1px solid #ededed;
  margin-top: -3px;
  margin-left: 0px;
  border-radius: 0px;

}

.butsmallleft1 {
  width: 30px;
  height: 30px;


}

.butsmallright1 {
  width: 30px;
  height: 30px;


}

.single_slider5 .btn-coupon {
  float: right;
  margin-top: 26%;
  position: relative;
  padding: 5px;
  text-align: center;
  margin-left: -50%;
  border-radius: 12px;
  background-color: #D01F44;
  font-weight: bold;
  z-index: 9;
  width: 100px;
  height: 35px;


}

.single_slider5 .btn-coupon:hover {
  background-color: 000;
  color: #fff;

}

.proitem.active {
  /* border: none; */
  border-bottom: 2px solid black !important;
  /* border-radius: 0px;
  background-color: transparent;
  color: #000; */
}

.single_slider3 {
  max-height: 100%;
  margin-top: 0px;

}

.fullwidth2 {
  margin-bottom: 0px;
}


.single_slider4 {
  height: 360px;
  background-position: center;

}

.single_slider4 .btn-shopnow {
  float: right;
  margin-top: 60%;
  border-radius: 0;
  background-color: #000000;

}

.single_slider4 .btn-shopnow:hover {
  background-color: #fff;
  color: #000000;

}

.shopnow {
  background-color: #D01F44;
}

.coupon {
  background-color: #D01F44;
  height: 250px
}

.single_slider5 {
  height: 200px;
  background-position: center;

}

.single_slider5 .btn-coupon:hover {
  background-color: 000;
  color: #fff;

}

.single_slider5 .btn-coupon:visited {
  background-color: 000;
  color: #fff;
}

.box_buycon {
  width: 100%;
  height: 30px;
  background-color: #D01F44;
  border-radius: 15px;
  text-align: center;
  padding-top: 4px;
  color: #FFFFFF;
  cursor: pointer;
}

.box_buycon:hover {
  background-color: #FE0000;
  color: #FFFFFF;

}

.colvocher figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.colvocher figure:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.colvocher figure h4:hover {
  color: #D01F44;
  text-decoration: underline;

}

.colvocher p {
  font-size: 12px;
}

@media only screen and (max-width: 767px) {
  .niceselect_option2{
    border-radius: 5px;
    overflow-y: scroll;
    height: 50px;
    width: 100%;
    border: 1px solid #f4f4f4;
  }
  .niceselect_option2::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #D01F44;
    background-image: linear-gradient(to top, #D01F44 0%, #cf395a 100%);
  }
  .niceselect_option2::-webkit-scrollbar {
    width: 5px;
  }
  .topp2 {
    margin-top: -40px;
  }

  .topp {
    margin-top: 20px;
  }
}
.product_content .product_name{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: inline-block;
}

/*table_tracking*/

.table_tracking{
  border-bottom: 1px solid #f4f4f4;

}

.head_track h3 {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.sidebar_widget_track .box_style_1 {
  border-bottom: 1px #f4f4f4;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 10px;
}

.sidebar_widget_track .box_style_1 a {
  font-weight: 500;
  font-size: 18px;

}

@media only screen and (max-width: 767px) {
  .sidebar_widget_track .box_style_1 {
    text-align: left;
    padding-bottom: 10px
  }
}

.track_nav ul#cat_nav li a:hover,
ul#cat_nav li a {
  font-size: 15px;
  font-weight: 700;
  color: #555;
}

.track_nav ul#cat_nav li a:hover,
ul#cat_nav li a:hover {
  color: #D01F44;
  background-color: #ffffff;
}

.track_nav ul#cat_nav li a:hover,
ul#cat_nav li a.active {
  background-color: #ffffff;
}


.tr_table {
  margin-top: -30px;
  margin-left: 0px;

}

@media only screen and (max-width: 767px) {
  .tr_table {
    margin-bottom: 60px;
    border: none;
  }
}


.tr_table .table_tracking .track_head {
  padding-top: 20px;
  font-size: 15px;
  font-weight: 600;
  color: #000000;
  padding-bottom: 30px;
}

.tr_table .table_tracking .track_head h5 {
  font-size: 15px;
  font-weight: 600;
  color: #CCCCCC;
}

.tr_table .table_tracking .track_head button {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #D01F44;
  padding: 5px;
}

.tr_table .table_tracking .track_head button:hover {
  background-color: #D01F44;
  color: #ffffff;
}

.tr_table .table_tracking .track_head .track_order {}

@media only screen and (max-width: 767px) {
  .tr_table .table_tracking .track_head .track_order {
    text-align: center;
    padding: 5px;
  }
}

.tr_table .table_tracking .track_head .track_date {
  padding-left: 50px;
}

@media only screen and (max-width: 767px) {
  .tr_table .table_tracking .track_head .track_date {
    text-align: center;
    padding: 5px;
  }
}

.tr_table .table_tracking .track_head .track_icon {
  padding-top: 15px;
}

.tr_table .table_tracking .track_head .track_deli {}

@media only screen and (max-width: 767px) {
  .tr_table .table_tracking .track_head .track_deli {
    text-align: center;
    padding: 5px;
  }
}

.tr_table .table_tracking .track_head .track_botton {
  padding-left: 50px;
  padding-top: 8px;
}

.tr_table .table_tracking .track_head .track_botton {
  padding: 0px;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .tr_table .table_tracking .track_head .track_botton {
    padding: 5px;

  }
}




.product_tracking_inner {
  padding: 20px 30px 27px;
  border: 1px solid #f4f4f4;
}

@media only screen and (max-width: 767px) {
  .product_tracking_inner {
    padding: 0px 0px 0px;

  }
}

@media only screen and (max-width: 767px) {
  .product_tracking_button {
    padding-left: 55px;
  }
}

.product_tracking_button {

  padding-bottom: 20px;
}

.product_tracking_button ul li {}

.product_tracking_button ul li :hover {
  background-color: #ffffff;
}

.product_tracking_button ul li a {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  border-bottom: 3px solid #ededed;
  padding-bottom: 10px;
}

.product_tracking_button ul li a.active {
  background-color: #f4f4f4;
  border-bottom: 3px solid #D01F44;
}



.tracking_name .nameorder{
  font-size: 16px;
}
.tracking_name .nameorder a, p{
  display: inline-block;
}
.tracking_name .nameshop{
  font-size: 12px;
  color: #999;
}

.tr_table .table_tracking .tracking_name {
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  margin-left: -90px;
}

.tr_table .table_tracking .tracking_name :hover {
  color: #D01F44;
}

.tr_table .table_tracking .tracking_name h5 {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}

.tr_table .table_tracking .tracking_name h5:hover {
  color: #D01F44;
}

@media only screen and (max-width: 767px) {
  .tr_table .table_tracking .track_head .tracking_name {
    padding-left: 30px;
    text-align: left;
  }
}

.tr_table .table_tracking .tracking_name h5:hover {
  color: #D01F44;
}

.tr_table .table_tracking .track_bottom {
  padding-top: 20px;
  padding-bottom: 20px;
}





#progressbar {
  overflow: hidden;

}
.tracking_thumb{
  margin-left: 5%;
}
@media only screen and (max-width: 767px) {
  #progressbar {
    padding-left: 20px;
  }
}

#progressbar li {
  list-style-type: none;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 500;
}

#progressbar li div {
  color: #000000;
  font-weight: 600;
  text-align: center;
  margin: 10px;
  padding-left: 10px;
  font-size: 15px;
  font-family: "Work Sans", sans-serif;
}

@media only screen and (max-width: 767px) {
  #progressbar li div {
    font-size: 12px;
    font-weight: 800;
    line-height: 15px;
  }
}

#progressbar li div a {
  color: #D01F44;
}

#progressbar li div a:hover {
  color: #CCCCCC;
}

#progressbar li div h5 {
  color: #D01F44;
  font-weight: 600;
  text-align: center;
  font-size: 15px;
  font-family: "Work Sans", sans-serif;
}





#progressbar #step1:before {
  content: "\f00c";
}

#progressbar #step2:before {
  content: "\f00c";
}

#progressbar #step3:before {
  content: "\f00c";
}
#progressbar #step4:before {
  content: "\f00c";
}
#progressbar #step5:before {
  content: "\f00c";
}
.collapse .show.tkpoint1{
  border-bottom:1px solid #ededed;
}
#progressbar li:before {
  font-family: 'FontAwesome';
  width: 40px;
  height: 40px;
  line-height: 45px;
  display: flex;
  position: relative;
  z-index: 2;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background: #ededed;
  border-radius: 50%;
  margin: auto;
  color: #fff;
}


#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #ededed;
  position: absolute;
  left: 0;
  top: 21px;
  /* position: relative; */
  z-index: 1;
}

#progressbar li:last-child:after {

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  left: -50%
}

#progressbar li:first-child:after {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  left: 50%
}

#progressbar li:last-child:after {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px
}

#progressbar li:first-child:after {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px
}

#progressbar li.complete:before,
#progressbar li.complete:after {

  background: #D01F44
}

#progressbar li.active:before,
#progressbar li.active::after {

  background: #D01F44
}
.avatar-uploadrider {
  position: relative;
  max-width: 205px;
  /* margin: 50px auto; */
  /* margin-left: 70px; */
}
.avatar-uploadrider .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-uploadrider .avatar-edit input {
  display: none;
}
.avatar-uploadrider .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  /* border-radius: 100%; */
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-uploadrider .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-uploadrider .avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-uploadrider .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  /* border-radius: 100%; */
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-uploadrider .avatar-preview > div {
  width: 100%;
  height: 100%;
  /* border-radius: 100%; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


/*table_tacking end*/


/* 15. contact page css here */
.contact_area {
  margin-bottom: 70px;
}

@media only screen and (max-width: 767px) {
  .contact_area {
    margin-bottom: 60px;
  }
}

.contact_message h3 {
  font-size: 21px;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 25px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact_message h3 {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .contact_message h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.contact_message p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
}

.contact_message ul li {
  padding: 13px 0;
  border-top: 1px solid #ededed;
}

.contact_message ul li:last-child {
  padding-bottom: 0;
}

.contact_message ul li i {
  margin-right: 10px;
}

.contact_message ul li a:hover {
  color: #40A944;
}

.contact_message label {
  line-height: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.contact_message input {
  border: 1px solid #ededed;
  height: 45px;
  background: #ffffff;
  width: 100%;
  padding: 0 20px;
  color: #757575;
}

.contact_message textarea {
  height: 170px;
  border: 1px solid #ededed;
  background: #ffffff;
  resize: none;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px 20px;
  color: #222222;
}

@media only screen and (max-width: 767px) {
  .contact_message textarea {
    height: 120px;
  }
}

.contact_message button {
  font-weight: 400;
  height: 42px;
  line-height: 42px;
  padding: 0 30px;
  text-transform: capitalize;
  border: none;
  background: #222222;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 4px;
}

.contact_message button:hover {
  background: #D01F44;
}

@media only screen and (max-width: 767px) {
  .contact_message button {}
}

@media only screen and (max-width: 767px) {
  .contact_message.content {
    margin-bottom: 52px;
  }
}

.contact_message.form p.form-messege {
  margin-bottom: 0;
}

.contact_area .contact_message .contact_follow .row .botton-left img {
  margin-top: 10px;
  /* margin-left: 40px !important; */
  padding: 10px;
  padding-right: 5px;
}

@media only screen and (max-width: 767px) {
  .contact_area .contact_message .contact_follow .row .botton-left img {
    margin-left: 0px;

  }
}

.contact_area .contact_message .contact_follow .row img {}

@media only screen and (max-width: 767px) {
  .contact_area .contact_message .contact_follow .row img {
    margin-left: 10px;
  }
}

.contact_area .contact_message .contact_follow .row .botton-right img {
  margin-top: 20px;
  padding-left: 15px;
}

.contact_area .contact_message .contact_follow .row .botton-right img.qrcode_con {
  margin-top: 20px;
  margin-left: 17px;
}

@media only screen and (max-width: 767px) {
  .contact_area .contact_message .contact_follow .row .botton-right img.qrcode_con {
    margin-left: 10px;
  }
}

.contact_map {
  margin-bottom: 67px;
}

@media only screen and (max-width: 767px) {
  .contact_map {
    margin-bottom: 57px;
    margin-top: 60px;
  }
}

.map-area #googleMap {
  height: 460px;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .map-area #googleMap {
    height: 340px;
  }
}


/*contact page css end*/
/* walleto start */

.button_wallet{
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: #fff;
  width: 100%;
  background: #D01F44;
  cursor: pointer;
  padding: 12px 20px;
  outline: none;
  font-size: 12px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-bottom: 5px;
  font-size: 15px;
 }
 .button_wallet:hover{
  background-color: #333;
}

.button_wallet_money{
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: #fff;
  width: 100%;
  cursor: pointer;
  padding: 0px 30px;
  outline: none;
  font-size: 12px;
  background-color: #1ab60d!important;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-bottom: 5px;
  font-size: 15px;
 }


.table_point{
  padding-top: 15px;
}

.bank_choice{
  padding: 15px;
  border-bottom: 1px solid #ced4da;
  font-size: 20px;
  font-weight: 500;
}
@media only screen and (max-width: 767px) {
  .bank_choice {
    padding: 30px;
  }
}


.bank_choice label {
  padding-left: 20px;
  width: 168.41;
  height: 24;
}

.bank_choice img{
  padding-left: 15px;
  width: auto;
  height: 40px;
}

@media only screen and (max-width: 767px) {
  .bank_choice img{
    
  }
}





  /* walleto end */

/*Popup table start*/

.modal-content_track{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
  margin: 50px;
  padding: 20px;
  left: 20%;
  width: 50%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  outline: 0;
}

@media only screen and (max-width: 767px) { 
  .modal-content_track{
    left: 0%;
    width: auto;
  }
}



.modal-content_track button.close_track {
  position: absolute;
  left: 91%;
  width: 35px;
  height: 35px;
  line-height: 37px;
  display: block;
  background-color: transparent;
  color: #D01F44;
  border: 2px solid #ededed;
  top: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  z-index: 9;
}

.custom-select-track {
  margin-top: 10px;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  /* height: calc(2.25rem + 2px); */
  padding: .375rem 1.75rem .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  /*background: #fff url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E) no-repeat right .75rem center;*/
  background-size: 8px 10px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}


.radio_track {
  padding-bottom: 10px;
}

.radio_track label{
  font-size: 15px;
  color: #000000;
  font-weight: 500;
}


.widget_list_track{
  padding: 10px;
}

.widget_title_track h3 {
  font-size: 20x;
  font-weight: 600;
}

.select-cancel {
  padding-bottom: 20px;
}

.track_btn button {
  background: #D01F44;
  width: 100%;
  color: #ffffff;
  font-size: 18px;
  padding: 3px 14px;
  line-height: 30px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  text-transform: capitalize;
  margin-bottom: 0;
}
.catagory_take h4{
  font-size: 18px;
  padding-top: 5px;
  font-weight: 500;
}
.prorecom .owl-nav div.owl-next {
  right: -20px;
  left: auto;
}

.prorecom .owl-nav div {
  position: absolute;
  top: 49%;
  transform: translatey(-50%);
  left: -20px;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}

.modal-content button.close_track {
  position: absolute;
  left: 95%;
  width: 35px;
  height: 35px;
  line-height: 37px;
  display: block;
  background-color: transparent;
  color: #D01F44;  border: 2px solid #ededed;
  top: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  z-index: 9;
}

.modal-content button.close_track:hover {
  color: #CCC;
}

/*Popup table end*/

.head_tf p {
  font-size: 25px;
  font-weight: 700px;
  text-align: center;
  padding: 20px;
}

.coupon_code.cart h3 {
  color: #000;
  line-height: 36px;
  padding: 5px 15px;
  background: #C0C0C0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}

.table_desc.wishlist.line table tbody tr:last-child td {
  border-bottom: 1px solid #ededed !important;
}